
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-branch-list></app-branch-list>
<app-copies-list></app-copies-list>
<app-user-list></app-user-list>
<app-transaction-list></app-transaction-list> -->
<mat-toolbar color="primary" class="global-header">
    Library Management System
</mat-toolbar>
<router-outlet></router-outlet>
